@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
}

html,
body {
  font-family: var(--selected-font);
}

/* Define background colors for dark mode */
.dark {
  --selected-font: var(--font-sans);
  background-color: black;
  color: white; /* Adjust text color for better readability */
}

.light {
  --selected-font: var(--font-sans);
  background-color: white;
}

.section {
  height: 100vh;
}

/* body {
  background-color: white;
} */
